hydra-core 
imageio
lightning
lightning-utilities
matplotlib==3.9.1
matplotlib-inline
nest_asyncio
numpy
omegaconf
pybind11-global
pytorch-lightning
PyYAML
rasterio
rioxarray==0.15.0
torch==2.8.0
torchaudio==2.8.0
torchmetrics
torchvision==0.23.0
typing-inspection
typing_extensions
xarray
zstandard==0.23.0